.sa-text {
  color: black;
  font-weight: 400;
}

.a-content {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
  margin: auto;
  gap: 60px;
  justify-content: center;
}

.dasha-img {
  height: 600px;
  border-radius: 10px;
}

.block-text, .block-photo {
  max-width: 470px;
}

@media (width <= 1080px) {
  .a-content {
    margin-left: 20px;
    margin-right: 20px;
  flex-direction: column;
  gap: 20px;
  }


}

@media (width <= 460px) {
  .dasha-img {
    height: 295px;
  }
}
